#!/bin/sh

{{ if eq .chezmoi.os "darwin" }}

/opt/homebrew/bin/brew bundle --global

rm ~/Documents/.localized
rm ~/Downloads/.localized
rm ~/Desktop/.localized
rm ~/Public/.localized
rm ~/Pictures/.localized
rm ~/Music/.localized
rm ~/Movies/.localized

mkdir -p ~/Workspaces/repo
mkdir -p ~/Workspaces/sandbox
mkdir -p ~/Workspaces/.tools

mkdir -p ~/Pictures/capture
defaults write com.apple.screencapture location ~/Pictures/capture

defaults write com.apple.AppleMultitouchTrackpad Clicking -bool true
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true

defaults write com.apple.finder AppleShowAllFiles true
defaults write NSGlobalDomain AppleShowAllExtensions -bool true

defaults write com.apple.dock autohide -bool true

defaults write com.apple.menuextra.battery ShowPercent -string "YES"

{{end}}
